body {
    background-image: linear-gradient(to right top, red, white);
}

.satu {
    background-image: radial-gradient(farthest-corner at 50% 100%,  white, blue);
    width: 50%;
    height: 600px;
    margin-top: -10px ;
    margin-left: 400px;
}

.dua {
    background-image: radial-gradient(circle at 10% 50%, white , blue, white );
    /* background-image: radial-gradient(at right, white, blue); */
    width: 50%;
    height: 200px;
    margin-left: 400px;
}